body
{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url(../image/cover.jpg);
    background-size: cover;
    background-position:center;
}


